body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pic
{
    height: 70px;
    width: 145px;
    float:left;
}

p
{
    margin-top: 20px;
    font-family: initial;
    font-size: 22px;
    float: left;
    padding:  2px 16px;
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: .13em;
    text-decoration: none;
    color: #D4AF37;
}

section{
	width:17%;
	margin-right: 0%;
	display:inline-block;
    padding: 15px 10px; 
    background-color:#000000b0;
    border: white;
}
figcaption{
    color: white;
}
  
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #D4AF37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 481px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 481px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }  