@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav h1{
	display: inline;
	font-family: 'Lobster', cursive;
	font-weight: 400;
	font-size: 42px;
	float: left;
	margin-top: 0px;
	margin-right: 800px;
	color:#D4AF37;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: #D4AF37;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: white;
}

.topnav a.active {
  background-color:red;
  color:white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

footer{
  background-color: black;
  color: #D4AF37;
  padding:2px 16px;
  text-align: center;
}
.h2{
	font-family: 'Montserrat', sans-serif;
}
