@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    margin:0;
    padding:0;
}
body {
    background-color: white;
    }
    
nav 
{
    margin-top:0px;
    width: 100%;
    background-color:white;
}
.pic
{
    height: 70px;
    width: 145px;
    float:left;
}
p
{
    margin-top: 20px;
    font-family: initial;
    font-size: 22px;
    float: left;
    padding:  2px 16px;
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: .13em;
    text-decoration: none;
    color: #D4AF37;
}
nav ul 
{
    float: left;
    background-color: #fff;
}
 ul li 
{
    /* margin-top:0px; */
    float: left;
    list-style: none;
    position: relative;
    background-color: #fff;
}
a 
{
    /* margin-top:0px; */
    font-family: arial;
    color : #222;
    font-size: 14px;
    font-weight:700;
    line-height: 70px;
    padding:10px 15px;
    text-transform: uppercase;
    letter-spacing: .14em;
    text-decoration: none;
    color: black;
}
    ul li:hover ul 
    {
      display: block;
      color: #D4AF37
    }
a:hover:not(.active) 
{
    background-color: white;
    color: #D4AF37;
}

section{
	width:17%;
	margin-right: 0%;
	display:inline-block;
    padding: 15px 10px; 
    background-color:#000000b0;
    border: white;
}
figcaption{
    color: white;
}

.topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
